* {
    list-style: none;
    box-sizing: border-box;
}
body {
    height: 140vh;
    position: relative;
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url(../Img/portada.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial helvetica, sans-serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100px;
}

.logo {
    height: 50px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item {
    margin: 0 15px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #f2f2f2;
}
.item:hover {
    color: #ff2258;
}
#menu {
    display: none;
}
.menu-icono {
    width: 25px;
}
label {
    cursor: pointer;
    display: none;
}
.btn {
    padding: 10px 24px;
    border-radius: 30px;
    background-color: #ff2258;
    color: #f2f2f2;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover {
    background-color: #ee0a74;
}

/*menu responsive*/
@media(max-width:991px) {
    .menu {
        padding: 30px;
        margin: 0;
    }
    label {
        display: initial;
    }
    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }
}
.item {
    margin: 0 0 20px 3;
    width: 100%;
}
.btn {
    width: 100px;
}
#menu:checked ~ .menu {
    display: initial;
}